<div class="home-banner">
  <h1><b>Disfruta tu próximo viaje con Euphoria Land</b></h1>
  <h2>Renta vehículos</h2>
</div>

<div class="container">
  <h2>Autos</h2>
  <div class="row mt-2 mb-2">

    <% @vehicles_autos.take(3).each do |auto| %>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="<%= auto.photo_url %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= auto.model %></h5>
            <p class="card-text">
              <%= auto.description %>
            </p>
            <%= link_to "Detalles", vehicle_path(auto) %>
            <%# <button type="<%= vehicle_path(auto) %><%# " class="btn btn-primary">Detalles</button> %>

          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h2>Bicicletas</h2>
  <div class="row">

    <% @vehicles_bicicletas.take(3).each do |bicicleta| %>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="<%= bicicleta.photo_url %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= bicicleta.model %></h5>
            <p class="card-text">
              <%= bicicleta.description %>
            </p>
            <%= link_to "Detalles", vehicle_path(bicicleta) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h2>Scooters</h2>
  <div class="row">
    <% @vehicles_scooters.take(3).each do |scooter| %>
      <div class="col-4">
        <div class="card" style="width: 18rem;">
          <img src="<%= scooter.photo_url %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= scooter.model %></h5>
            <p class="card-text">
              <%= scooter.description %>
            </p>
            <%= link_to "Detalles", vehicle_path(scooter) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
